body {
    margin: 0;
    background-color: #404040;
    font-family: "Monaco", monospace;
    position: relative;
    min-height: 100vh;
}
h1 {
    padding: 0.5em;
    margin-top: 0;
    margin-bottom: 0.75em;
    color: #888;
    background-color: #181820;
    position: sticky;
    top: 0;
}
h1::after {
    content: "";
    position: absolute;
    top: 2.15em;
    left: 0;
    height: 0.75em;
    width: 100%;
    background: linear-gradient(#000F, #0000);
}
.panels {
    margin: 0.5em 1em 0em 0.5em;
    padding-bottom: 3.5em;
    gap: 1.5em;
}
@media screen and (min-width:65em) and (max-width: 130em) {
    .panels {
        column-count: 2;
    }
}
@media screen and (min-width:130em) {
    .panels {
        column-count: 3;
    }
}
.panel {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border: 4px solid #181820;
    border-radius: 1em;
    width: 100%;
    color: #888;
    background-color: #282830;
    break-inside: avoid;
    box-shadow: 0.5em 0.5em 0.5em #0008;
    display: inline-block;
}
.panel>* {
    margin-left: 1em;
    margin-right: 1em;
}
.panel * {
    margin-top: 0;
    margin-bottom: 0;
}
.panel hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    color: #181820CC;
}
.panel ol {
    padding-left: 1em;
}
.panel ul {
    padding-left: 0.5em;
}
.panel ul>ul {
    padding-left: 1em;
}
.panel ul>li {
    padding-left: 0.5em;
}
.panel>ol {
    padding-left: 2em;
}
.panel>ul {
    padding-left: 1.5em;
}
.panel>h2 {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    border-radius: 0.25em 0.25em 0 0;
    background-color: #181820;
}
a {
    color: currentcolor;
}
footer {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    color: #888;
    background-color: #181820;
    position: absolute;
    bottom: 0;
    height: 2em;
    width: 100%;
}
footer>* {
    padding: 0;
    margin: 0;
}
